<header>
    <mat-toolbar color="primary" class="toolbar">
        <mat-toolbar-row>
            <span class="title"> Herolo weather website
            </span>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <span class="link" routerLink="/home">
                Home</span>
            <span class="example-spacer"> </span>
            <span class="link" routerLink="/favorites">My favorites</span>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite </mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</header>